<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Go Template</title>
</head>

<body>
    <h1>{{.PageTitle}}</h1>
    <ul>
        {{range .Todos}}
            {{if .Done}}
                <li class="done">{{.Title}}</li>
            {{else}}
                <li>{{.Title}}</li>
            {{end}}
        {{end}}
    </ul>
    <form method="post">
    <fieldset>
        <legend>Alarm Activatie</legend>
        <div>
          <input type="radio" name="Activatie" value="true"  {{if .AlarmActive}} checked {{end}}>
          <label for="Geactiveerd">Geactiveerd</label>
        </div>
    
        <div>
          <input type="radio" name="Activatie" value="false" {{if not .AlarmActive}} checked {{end}}>
          <label for="Gedeactiveerd">Gedeactiveerd</label>
        </div>
    </fieldset>
    <fieldset>
        <legend>Alarm Status</legend>
        <div>
          <input type="radio" name="Status" value="Aan">
          <label for="Aan">Aan</label>
        </div>
    
        <div>
          <input type="radio" name="Status" value="Uit" checked>
          <label for="Uit">Uit</label>
        </div>
    </fieldset>
    <button type="submit">Bevestigen</button>
  </form>
    </body>
</html>
