<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SecureIT</title>
</head>

<body>
    <form method="post">
    <fieldset>
        <legend>Alarm Activatie</legend>
        <div>
          <input type="radio" name="Activatie" value="true"  {{if .AlarmActive}} checked {{end}}>
          <label for="Geactiveerd">Geactiveerd</label>
        </div>
    
        <div>
          <input type="radio" name="Activatie" value="false" {{if not .AlarmActive}} checked {{end}}>
          <label for="Gedeactiveerd">Gedeactiveerd</label>
        </div>
    </fieldset>
    <fieldset>
        <legend>Alarm Status</legend>
        <div>
          <input type="radio" name="Status" value="true" {{if .AlarmAan}} checked {{end}}>
          <label for="Aan">Aan</label>
        </div>
    
        <div>
          <input type="radio" name="Status" value="false" {{if not .AlarmAan}} checked {{end}}>
          <label for="Uit">Uit</label>
        </div>
    </fieldset>
    <button type="submit">Bevestigen</button>
  </form>
    </body>
</html>
